{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block header_scripts %}
{{super()}}
<script src="/static/js/Admin-Product.js"></script>
{% endblock %}

{% block logged_out %}
    {% if signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
    {% endfor %}
    <h1 class="admin-title">Edit Your Product</h1>
<div class="container">
    <form action="/admin-edit-product/{{PID}}" method="POST", enctype="multipart/form-data">
		<div class="form-group">
            <label for="productName"> Product Name: </label>
            <input id="productName" type="text" name="productName" value="{{productName}}"> 
        </div>
        <div class="form-group">
            <label for="productImage">Product Image: </label>
            <input type="file" name="product-img" id="product-img" accept="image/png, image/jpeg">
        </div>
        <div class="form-group">
            <label for="description"> Description: </label>
            <textarea class="form-control" id="description" rows="4" name="description">{{description}}</textarea>
        </div>
        <div class="form-group">
            <label for="quantity"> Quantity: </label>
            <input id="quantity" type="number" name="quantity" value="{{quantity}}">
        </div>
        <div class="form-group">
            <label for="Price"> Price (in $): </label>
            <input id="price" type="number" name="price" value="{{price}}" step="0.01">
        </div><div class="form-group">
            <label for="category">Category: </label>              
            <select class="form-control" id="category" name="category">
              <option {% if category == "toilet paper" %} selected{%endif%}>toilet paper</option>
              <option {% if category == "masks" %} selected{%endif%}>masks</option>
              <option {% if category == "hand sanitizer" %} selected{%endif%}>hand sanitizer</option>
              <option {% if category == "sanitation supplies" %} selected{%endif%}>sanitation supplies</option>
              <option {% if category == "other" %} selected{%endif%}>other</option>
            </select>
          </div>
        <div class="form-group">
            <input type="submit" name="Save" value="Save">
        </div>

	</form>
</div>
{% endblock %}
