{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block logged_out %}
    {% if session.signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if session.signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block header_scripts %}
    {{super()}}
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
{% endblock %}

{% block content %}
<div id="chartdiv"></div>
<div class="container">
    <div class="d-flex flex-row flex-nowrap overflow-auto px-2">

            {%for product in products%}
            <div class="card card-block mx-2" style="width: 250px;min-width: 250px;">
                <div class="card-header card-color card-header-flex">
                <h3>{{product['name']}}</h3>
                <a href="{{urlsForDeleteProduct[product['id']]}}">
                    <i class="fas fa-trash delete-button" ></i>
                </a>
                </form>
                </div>
                <div class="card-body">
                <img class="card-img-top" src="/static/img/{{product['img']}}" alt="{{product['name']}}" width="12rem" height="150rem">

                <h4 class="card-text card-color"> Price: {{"$%.2f"|format(product['price'])}}</h4>
                    <h4 class="card-text card-color">Quantity: {{product['quantity']}} </h4>
                    <h4 class="card-text card-color">Sales: ${{sales[product['id']]}} </h4>

                </div>
                {%if product['status']==0%}
                <a class="btn btn-primary admin-button list-button" id="{{product['id']}}" role="button" style="background-color: green">List Product</a>
                {%endif%}
                {%if product['status']==1%}
                <a class="btn btn-primary admin-button list-button" id="{{product['id']}}" role="button" style="background-color: red">Unlist Product</a>
                {%endif%}
                <a class="btn btn-primary admin-button" href="{{urlsForEditProduct[product['id']]}}" role="button">Edit Product</a>
            </div>
            {%endfor%}

    </div>
</div>
<div class="container">
    <a class="btn btn-primary admin-button" href="{{urlAddProduct}}" role="button">Add Product</a>
</div>

{% endblock %}
