{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block logged_out %}
    {% if signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row hor-scroll">
        
            {%for product in products%}
            <div class="card card-scroll">
                <div class="card-header card-color">
                <h3>{{product[1]}}</h3>
                </div>
                <div class="card-body">
                <img class="card-img-top" src="/static/img/{{product[5]}}" alt="{{product[1]}}" width="12rem" height="150rem">

                <h4 class="card-text card-color"> Price: ${{product[3]}}</h4>
                    <h4 class="card-text card-color">Quantity: {{product[4]}} </h4>
                    <h4 class="card-text card-color">Sales: ${{sales[product[0]]}} </h4>
                    
                </div>
                <a class="btn btn-primary admin-button" href="{{urlsForEditProduct[product[0]]}}" role="button">Edit Product</a>
            </div> 
            {%endfor%}    
        
    </div>
</div>
<div class="container">
    <a class="btn btn-primary admin-button" href="{{urlAddProduct}}" role="button">Add Product</a>
</div>
    
{% endblock %}
