{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block logged_out %}
    {% if signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row hor-scroll">
        
            {%for product in products%}
            <div class="card card-scroll">
                <div class="card-header card-color card-header-flex"> 
                <h3>{{product['name']}}</h3>
                    <a class="btn delete-button" href="{{urlsForDeleteProduct[product['id']]}}" role="button"><img src="/static/img/DeleteSymbol.jpg" width="17rem" height="23rem"></a>
                </form>
                </div>
                <div class="card-body">
                <img class="card-img-top" src="/static/img/{{product['img']}}" alt="{{product['name']}}" width="12rem" height="150rem">

                <h4 class="card-text card-color"> Price: ${{product['price']}}</h4>
                    <h4 class="card-text card-color">Quantity: {{product['quantity']}} </h4>
                    <h4 class="card-text card-color">Sales: ${{sales[product['id']]}} </h4>
                    
                </div>
                <a class="btn btn-primary admin-button" href="{{urlsForEditProduct[product['id']]}}" role="button">Edit Product</a>
            </div> 
            {%endfor%}    
        
    </div>
</div>
<div class="container">
    <a class="btn btn-primary admin-button" href="{{urlAddProduct}}" role="button">Add Product</a>
</div>
    
{% endblock %}
