<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Covid Bunker{% endblock %}</title>
    <!-- define a block for bootstrap imports -->
    {% block bootstrap %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block icons %}
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/77ddb78ecd.js" crossorigin="anonymous"></script>
    <!-- Add font library -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap" rel="stylesheet">
    {% endblock %}
    <!-- define a block for custom css -->
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
    {% block header_scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/cart-script.js') }}" charset="utf-8"></script>
    {% endblock %}
    <link rel="icon"
        type="image/png"
        href="https://freepngimg.com/download/spoon/89626-fork-restaurant-food-photography-icons-computer-monochrome.png">
</head>
<body class="bg-secondary">
    <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>
    <div class="main-body">
        <header>
            {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Covid Bunker</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav navbar-right ml-auto">
                           <li class="nav-item {% block cart %}{% endblock %}"><a href="/cart/" id="cart-nav" class="nav-link"><i class="fas fa-shopping-cart"></i> Cart</a></li>
                            {% block logged_out %}
                            <li class="nav-item {% block register %}{% endblock %}"><a href="/register/" class="nav-link"><i class="fas fa-user"></i> Register</a></li>
                            <li class="nav-item {% block login %}{% endblock %}"><a href="/login/" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                            {% endblock %}
                            {% block logged_in %}
                            <li class="nav-item {% block profile %}{% endblock %}"><a href="/admin/" class="nav-link"><i class="fas fa-user"></i> Profile</a></li>
                            <li class="nav-item {% block logout %}{% endblock %}"><a href="/logout/" class="nav-link" onclick="signOut();"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                            <a href="#" onclick="signOut();">Sign out</a>
                                <script>
                                  function signOut() {
                                    var auth2 = gapi.auth2.getAuthInstance();
                                    auth2.signOut().then(function () {
                                      console.log('User signed out.');
                                    });
                                  }
                                </script>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
      	<div class="alert alert-warning">
      		<button type="button" class="close" data-dismiss="alert">&times;</button>
      		{{ message }}
      	</div>
        {% endfor %}
        {% block search %}
        <div class="container pt-4 pb-4">
            <form class="form-inline d-flex justify-content-center md-form form-sm" action="/search/" method="GET">
              <input class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search..." aria-label="Search" name="s">
              <button type="submit" value="Submit" class="btn-warning rounded"><i class="fas fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        {% endblock %}

        <main class="text-light pb-5">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    {% block footer %}
    <footer class="page-footer font-small bg-dark">
         <!-- Copyright -->
        <div class="container py-2 text-center">
            <span class="text-muted">&#169; 2020 Covid Bunker </span>
        </div>
        {% block footer_scripts %}
        {% endblock %}
    </footer>
    {% endblock %}
</body>
</html>
