{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block logged_out %}
    {% if session.signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if session.signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
<div class="container">

    <div class="container rounded shadow mb-4">
  
      <h1 class="display-5 text-center">Thank you for your purchase</h1>

      <p class="lead"> A confirmation email has been sent to {{session.email}} </p>
      <p class="lead"> Your package is on its way to: {{address}} </p>

    </div>
</div>
{% endblock %}
