{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block css %}
{{ super() }}
<!-- SLICK SLIDER CSS -->
<link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
<!-- Add the new slick-theme.css if you want the default styling -->
<link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_slick.css') }}">
{% endblock %}

{% block header_scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/product-select.js"></script>
{% endblock %}

{% block logged_out %}
    {% if signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block search %}
    {{ super() }}
{% endblock %}

{% block content %}

<!-- SLICK SLIDER -->
<div class="container">
    {% if featured_products %}
    <div class="slick-home shadow">
      {% for product in featured_products %}
      <div><a href="/product/{{ product.id }}"><img class="slick-images-custom rounded" src="/static/img/{{ product.img }}" alt="{{ product.name }}"></a></div>
      {% endfor %}
    </div>
    {% endif %}
</div>

<div class="container p-2">
    <h1 class="display-1 text-center">COVID BUNKER</h1>
    <p class="lead text-center">Your one stop shop for all things Covid</p>
</div>

<!-- PRODUCT CATEGORY SELECTORS -->
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-6 p-2">
            <div class="card shadow bg-dark pointer" id="face-mask-selector">
                <img class="card-img-top" src="/static/img/face-mask-stock-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-light text-center pt-2">Face Masks</h5>
                 </div>
            </div>
        </div>
        <div class="col-sm-4 col-6 p-2">
            <div class="card shadow bg-dark pointer" id="hand-sanitizer-selector">
                <img class="card-img-top" src="/static/img/hand-sanitizer-stock-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-light text-center pt-2">Hand Sanitizer</h5>
                 </div>
            </div>
        </div>
        <div class="col-sm-4 col-6 p-2">
            <div class="card shadow bg-dark pointer" id="toilet-paper-selector">
                <img class="card-img-top" src="/static/img/toilet-paper-stock-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-light text-center pt-2">Toilet Paper</h5>
                 </div>
            </div>
        </div>
        <div class="col-sm-6 col-6 p-2">
          <div class="card bg-dark shadow pointer pt-2" id="other-selector">
            <h5 class="card-title text-light text-center pt-2">Other</h5>
          </div>
        </div>
        <div class="col-sm-6 col-12 p-2">
          <div class="card bg-dark shadow pointer pt-2" id="clear-selector">
            <h5 class="card-title text-light text-center pt-2">Clear Filter</h5>
          </div>
        </div>
    </div>


</div>

<!-- PRODUCTS -->
{% if products %}
<div class="container pt-2">

  <div class="row" id="product-cards">
  {% for product in products %}

      <!-- card -->
      <div class="col-6 col-sm-6 col-md-6 col-lg-3  p-2">
        <div class="card shadow bg-secondary" title="{{ product.category }}">
            <a href="/product/{{ product.id }}"><img class="card-img-top product-img" src="/static/img/{{ product.img }}" alt="{{ product.name }}"></a>
            <div class="card-body p-1 pb-3">
              <a href="/product/{{ product.id }}"><h5 class="card-title text-light text-center">{{ product.name }}</h5></a>
              <p class="card-text text-light text-center">${{ product.price }}</p>
              <div class="d-flex justify-content-center">
                <button type="button" value="{{ product.id }}" class="add_to_cart cart-button btn btn-warning mr-1" onclick="this.blur();">
                  <span class="add-to-cart">Add to cart</span>
                  <span class="added">Added</span>
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-square"></i>
                </button>
                <button type="button" value="{{ product.id }}" class="btn btn-danger ml-1" onclick="this.blur();">Buy it now</button>
              </div>
            </div>
        </div>
      </div>

  {% endfor %}
  </div>

</div>
{% endif %}
{% endblock %}

<!-- SLICK SLIDER SCRIPTS -->
{% block footer_scripts %}
    {% if featured_products %}
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="/static/slick/slick.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.slick-home').slick({
                    autoplay:true,
                    dots:true
                });
            });
          </script>
    {% endif %}
{% endblock %}
