{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block css %}
{{ super() }}
<!-- SLICK SLIDER CSS -->
<link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
<!-- Add the new slick-theme.css if you want the default styling -->
<link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_slick.css') }}">
{% endblock %}

{% block logged_out %}
    {% if signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}
<!-- Search form -->
<div class="container pt-4 pb-4">
    <form class="form-inline d-flex justify-content-center md-form form-sm">
      <input class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search..." aria-label="Search">
      <i class="fas fa-search" aria-hidden="true"></i>
    </form>
</div>

<!-- SLICK SLIDER -->
<div class="container">
    <div class="slick-home">
      <div><a href="/"><img class="slick-images-custom shadow rounded" src="/static/img/face-mask-stock-image.jpg" alt="Face mask image"></a></div>
      <div><a href="/"><img class="slick-images-custom shadow rounded" src="/static/img/hand-sanitizer-stock-image.jpg" alt="Hand sanitizer image"></a></div>
      <div><a href="/"><img class="slick-images-custom shadow rounded" src="/static/img/toilet-paper-stock-image.jpg" alt="Toilet paper image"></a></div>
    </div>
</div>

<div class="container p-2">
    <h1 class="display-1 text-center">COVID BUNKER</h1>
    <p class="lead text-center">Your one stop shop for all things Covid</p>
</div>

<!-- PRODUCT CATEGORY SELECTORS -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 p-2">
            <div class="card shadow">
                <img class="card-img-top" src="/static/img/face-mask-stock-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">Face Masks</h5>
                 </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 p-2">
            <div class="card shadow">
                <img class="card-img-top" src="/static/img/hand-sanitizer-stock-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">Hand Sanitizer</h5>
                 </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 p-2">
            <div class="card shadow">
                <img class="card-img-top" src="/static/img/toilet-paper-stock-image.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">Toilet Paper</h5>
                 </div>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCTS -->
<div class="container pt-4">
    {% for i in range(22) %}
        <div class="row">
            {% for i in range(4) %}
            <div class="col-6 col-sm-6 col-md-3 col-lg-3  p-3">
                <div class="card shadow">
                    <img class="card-img-top" src="/static/img/toilet-paper-stock-image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-dark text-center">Toilet Paper</h5>
                     </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}

<!-- SLICK SLIDER SCRIPTS -->
{% block footer_scripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/static/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.slick-home').slick({
            autoplay:true,
            dots:true
        });
    });
  </script>
{% endblock %}
