{% extends "base.html" %}


{% block title %}
{{ super() }} - Login
{% endblock %}

{% block login %}
active
{% endblock %}

{% block logged_out %}
    {% if session.signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if session.signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
<head>
  </head>
  <body>
    <div class="container pt-5 text-center">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <div class="container py-3" id="response-messages"></div>
        <script>
          function onSignIn(googleUser) {
              // get the profile information
              var profile = googleUser.getBasicProfile();

              // for testing
              console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
              console.log('Name: ' + profile.getName());
              console.log('Image URL: ' + profile.getImageUrl());
              console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
              name = profile.getName();
              image_url = profile.getImageUrl();
              email = profile.getEmail();

              // get token for backend
              var id_token = googleUser.getAuthResponse().id_token;

              // send token to back end
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/tokensignin/', true);
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
              xhr.onload = function() {
                  console.log('Signed in as: ' + xhr.responseText);
                  let message_div = document.getElementById('response-messages');
                  message_div.innerHTML = `<h3 class="display3">${profile.getName()}, you are logged in!</h3>`
              };
              xhr.send('idtoken=' + id_token + "&name=" + name + "&img=" + image_url + "&email=" + email);

          }
        </script>

        <p>
          <form method="POST">
            <label for="owner">UID: </label>
            <input type="text" name="uid" id="uid"> <br/>
            <input type="submit" name="sub" value="Login">
          </form>
        </p>

    </div>
  </body>
{% endblock %}
