{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block logged_out %}
    {% if signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block search %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-3">{{product.name}}</h1>
</div>
<div class="container">
<div class="row">
    <div class="col-md-3">
        <img src="/static/img/{{product.img}}" alt="{{product.name}}" width="200" height="200">
    </div>
    <div class="col-md-9">
        <h3 class="dispay-4"><br>{{product.description}} </h3>
    </div>

</div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-3 ">
        <h4>
        Price: ${{product.price}}<br>
        In stock: {{product.quantity}}
        </h4>
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control"  value="1" step="1">
    </div>
    <div class="col-md-6">
        
        <button type="button" class="btn btn-lg btn-warning">Add to cart</button>
        <button type="button" class="btn btn-lg btn-danger">Buy it now</button>
    </div>
</div>
</div>
{% endblock %}
