{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block logged_out %}
    {% if signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-3">{{product.name}}</h1>
</div>
<div class="container">
<div class="row">
    <div class="col-md-3">
        <img src="/static/img/{{product.img}}" alt="{{product.name}}" width="200" height="200">
    </div>
    <div class="col-md-9">
        <h3 class="dispay-4"><br>{{product.description}} </h3>
    </div>

</div>
</div>
Price: {{product.price}}   Qty: {{product.quantity}}
{% endblock %}
