{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block logged_out %}
    {% if signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <p>Prod name: {{product[1]}} <br>
        Prod desc: {{product[2]}} <br>
        Price: {{product[3]}}   Qty: {{product[4]}}
        <img src="/static/img/toilet-paper.jpg" alt="{{product[1]}}">
    </p>
</div>
{% endblock %}
