{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block profile %}
active
{% endblock %}

{% block logged_out %}
    {% if session.signed_in %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block logged_in %}
    {% if session.signed_in %}
        {{ super() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    {% if session.signed_in %}
    <h1 class="display-3">Your Profile</h1>
    <div class="py-3 container shadow rounded" id="profile-details"></div>
    <a id="admin-button" class="btn btn-primary admin-button" href="{{url_for("admin")}}" role="button">Admin Side</a>
    <script>
          window.addEventListener("DOMContentLoaded", function() {
              // get the profile information
              name = "{{ session.name }}";
              image_url = "{{ session.img }}";
              email = "{{ session.email }}";
              let output  = `<img src="${image_url}" class="py-2" alt="Profile Image"/>`;
              output += `<h3><span class="font-weight-bold">Name:</span> ${name}</h3>`;
              output += `<h3><span class="font-weight-bold">Email:</span> ${email}</h3>`;
              {% if address %}
              output += "<h3><span class='font-weight-bold'>Address:</span> {{ address }}</h3>"
              {% endif %}

              let profile_details = document.getElementById('profile-details');
              profile_details.innerHTML = output;
              let adminButton = document.getElementById("admin-button");
              if ("{{session.admin}}" == "True") {
                adminButton.style.visibility = "visible";
              } else  {
                adminButton.style.visibility = "hidden";
              }
          });
    </script>

    <!-- purchases -->
    <h1 class="display-3 py-3">Orders</h1>
    {% if sales %}
        {% for s in sales %}
            <div class="container  rounded shadow p-3 mb-4">
            Sale ID: {{ s[0] }}
            <br/>
            Sale Total:  {{ "$%.2f"|format(s[1]) }}
            <br/>
            Date Purchased: {{ s[2].split()[0] }}
            <br/>
            Status: {{ s[3] }}
            </div>
        {% endfor %}
    {% else %}
        <h4>No sales...</h4>
    {% endif %}

    {% endif %}
</div>
{% endblock %}
