/* css goes here */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;


  /*background: #646464;*/
}


.accent-bg{
    background-color: #fddb3a !important;
    color: black;
}
.accent-text{
    color: #fddb3a !important;
}

.card-color{
  color: black;
}

.hor-scroll{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.card-scroll {
  /*float: left;*/
  max-width: 25%;
  padding: 0.75rem;
  margin: 2rem;
  border: 0;
  flex-basis: 25%;
  /*flex-grow: 0;
  flex-shrink: 0;*/
  margin: 2.5rem;
}

.admin-button {
  margin: 1rem;
}

.admin-product-picture {
  margin: 1rem;
}

/* ----------------------------------- */

.product-img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 100%;
}


.delete-button {
  color: red;
  margin: 1rem;
}

.card-header-flex {
  display: flex;
  flex-direction: row;
}

.admin-title {
  text-align: center;
}

.pointer{
  cursor: pointer;
}

.hidden{
  display: none;
}

.search-btn{
  all:unset;

}

/* ----------------------------------- */
/* scroll to top */
#topBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 7%;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;

  color: white;
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
}

#topBtn:hover {
  background-color: #555;
}


/* ----------------------------------- */
/* add to cart button */
.cart-button {
    position: relative;
    outline: 0;
    border: none;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    cursor: pointer
}

.cart-button:focus {
    outline: none !important;
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -20%;
    font-size: 1.8em;
    transform: translate(-50%, -50%)
}

.cart-button .fa-square {
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 53%;
    font-size: 0.8em;
    transform: translate(-50%, -50%)
}

.cart-button span {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.cart-button span.add-to-cart {
  
}

.cart-button span.added {
    opacity: 0
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 2s ease-in forwards
}

.cart-button.clicked .fa-square {
    animation: box 2s ease-in forwards
}

.cart-button.clicked span.add-to-cart {
    animation: addcart 2s ease-in forwards
}

.cart-button.clicked span.added {
    animation: added 2s ease-in forwards
}

@keyframes cart {
    0% {
        left: -20%
    }

    40%,
    60% {
        left: 50%
    }

    100% {
        left: 120%
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%
    }

    60% {
        top: 36%;
        left: 53%
    }

    100% {
        top: 40%;
        left: 122%
    }
}

@keyframes addcart {

    0%,
    30% {
        opacity: 1
    }

    30%,
    100% {
        opacity: 0
    }
}

@keyframes added {

    0%,
    80% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
